<div id="fb-root"></div>
<div id="tripmap"></div>


<script type="text/javascript" id="coords">
  window.coords = <%= @coord.to_json %>;
</script>
<div class="content">
    <!--- insert link to trip on momondo -->
    <% if current_user %>
      <%= button_to "Book it!", nil, {class: "book"} %>
    <% else %>
      <%= button_to "Book it!", nil, {class: "book"} %>
      <%= button_to "Join", nil, {class: "join-trip"} %>
    <% end %>

    <h1 class="content-header">Join my Trip!</h1>
    <div id="trip_creator"><h1><%= link_to @trip.creator.username.capitalize, user_path(@trip.creator.id) %></h1></div>

    <div id="information">
      <div class="info">
        <h1>From <%=@trip.origin.city.capitalize %> to <%=@trip.destination.city.capitalize %> </h1>
         <!--  <%= form_for @trip do |f| %>
            <%= f.text_area :description, class: 'description', :rows => 5 %>
          <% end %> -->
        <div id="social_media">
          <h1 id="invite">Invite Friends:</h1>
          <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-width="24px" data-layout="button"></div>
          <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Join my trip to <%= @trip.destination.city.capitalize %>!">Tweet
          </a>
        </div>
      </div>
      <div id="sug_guides">
        <h1>Suggested Guides</h1>

        <div id="each_guide">
          <% @trip.destination.guides[0..2].each_with_index do |guide| %>
            <%= link_to guide.first_name.capitalize, user_path(guide.id), class: "user-link" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
