<div id="fb-root"></div>
<div id="trip_map">
  <h1 id="trip_title">From <%= @trip.origin.city.capitalize %> to <%= @trip.destination.city.capitalize %></h1>
</div>

  <div id="content">
    <!--- insert link to trip on momondo -->
   <%= button_to "Book it!", nil, {class: "book"} %>
    <h1 id="join-trip">Join my Trip!</h1>
      <div id="trip_creator"></div>
      <!-- <h1 id="username"><%= link_to @trip.creator.username, user_path(@trip.creator.id) %></h1> -->

    <div class="info">
      <div id="description"><!--<%= @trip.description %>-->
        I grew up in Chicago and left when I was 18. I lived in Seattle, Minneapolis, Romania, and then settled back here in Chicago and finished College. I have a Masters Degree in Social Work and love my job. I enjoy going to shows, eating healthy, and working out. I love going out and I love wine.
      </div>
      <h1 id="invite">Invite Friends:</h1>
      <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Join my trip to <%= @trip.destination.city.capitalize %>!">Tweet
      </a>
       <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-width="24px" data-layout="button"></div>
    </div>
  </div>



