<%= form_for @search_result, html: {id: "flight-search"} do |f| %>
  <div id="city-field">
    <%= f.label "I want to get out of" %>
    <%= f.text_field :current_city, value: @city, include_blank: true, :"data-autocomplete-path" => autocomplete_location_city_search_results_path %><br>
  </div>
  <div id="date-field">
    <%= f.label "by" %>
    <%= f.date_select :start_at, start_year: 2015, discard_day: true, order: [:month, :year]  %><br>
  </div>

  <div id="budget-field">
    <%= f.label "with     $" %>
    <%= f.text_field :budget  %><br>
  </div>

  <div id="submit">
  <%= f.submit "Send me somewhere!" %><br><br>
  </div>
    <%= flash[:error] %>
<% end %>


