<div class="standard_box">
  <% @results.each do |result| %>
    <div class="initial_results">
      <h2><%= convert_airport_to_city(result.destination).capitalize %></h2>
      <h3>$<%= result.price%></h3>
      <p>From <%= result.depart_time.month %>/<%= result.depart_time.day %>/<%= result.depart_time.year %>
      To <%= result.return_time.month %>/<%= result.return_time.day %>/<%= result.return_time.year %>
      <div class="save_trip_button"><%= link_to "Create Trip", new_trip_path%></div>
      <div class="book_button"><%= link_to "Or Book Ticket", "momondo.com"%></div>
    </div>
  <% end %>
</div>

<div class="sidebar">
  <%= link_to "Save Search Results", new_search_result_path%>
</div>
