  <h3 id="destinations"> Choose Your <br> Destination: </h3>
  <div id="result-list">
    <ul>
      <% @results.each do |result| %>
        <li> <%= link_to convert_airport_to_city(result.destination).capitalize, anchor: result.destination %> </li>
      <% end %>
    </ul>
  </div>

<div class="wrapper">
  <% @results.each do |result| %>

    <div class="result-card">
      <div id="<%=result.destination%>"></div>
      <h1 class="title"><%= convert_airport_to_city(result.destination).capitalize %></h1>
      <h3>$<%= GoogCurrency.eur_to_usd(result.price).to_i%></h3>
      <%= image_tag('temp.jpg') %>

      <p>Leave <%= convert_airport_to_city(result.origin).capitalize %>
        <%= result.depart_time.month %>/<%= result.depart_time.day %>
        /<%= result.depart_time.year %>
        <br>
        Leave  <%= convert_airport_to_city(result.destination).capitalize %>
        <%= result.return_time.month %>/<%= result.return_time.day %>
        /<%= result.return_time.year %>
      </p><br>

      <%= form_for Trip.new do |f| %>
        <%= f.hidden_field :origin_id, value: Location.find_by(city: convert_airport_to_city(result.origin)).id %>
        <%= f.hidden_field :destination_id, value: Location.find_by(city: convert_airport_to_city(result.destination)).id %>
        <%= f.hidden_field :start_at, value: result.depart_time%>
        <%= f.hidden_field :end_at, value: result.return_time%>

        <%= f.submit "Save Trip" %>
      <% end %>

      <span class="button "><%= link_to "Book Ticket", momondo_url(result), :target => "_blank" %></span>
    </div>
  <% end %>
</div>
