<div class="user_box">
  <div class = "button_links_user">
    <% if @user.id == current_user.id %>
      <%= link_to "Read your Messages", user_messages_path(@user.id), :id => 'write_message' %>
    <% else %>
      <%= link_to "Message this person!", new_user_message_path(@user.id) , :id => 'write_message' %>
    <% end %><br>
  </div>

  <div id="picture_holder">
    <img class = "user_picture" src="http://traveler.lodossteam.com/content/images/2014/Mar/1.jpg">
  </div>

  <div id="first_name">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>

  <div id='guide_status'>
    <% if @user.guide == true %>
    <h2 id="guide_status"><%= "I am available to guide you through the streets of #{@user.location.city.capitalize}" %></h2>
    <% end %>
  </div>
</div>
</div>
<div id= "jsform"></div>

