<div class="user_box">

  <div class = "button_links_user">
    <% if @user.id == current_user.id %>
      <%= link_to "Read your Messages", user_messages_path(@user.id), :id => 'write_message' %>
    <% else %>
      <%= link_to "Message this person!", new_user_message_path(@user.id) , :id => 'write_message' %>
    <% end %><br>
    <%= flash[:notice] %>
  </div>

  <div id="picture_holder">
    <img class = "user_picture" src="http://traveler.lodossteam.com/content/images/2014/Mar/1.jpg">
  </div>

  <div id="user_text_holder">
    <h1><%= @user.first_name %>!</h1>
    <p><%= @user.bio %></p>
      </div>

  <div id='guide_status'>
    <% if @user.guide == true %>
    <h2 id="guide_status"><%= "I am available to guide you through the streets of #{@user.location.city.capitalize}" %></h2>
    <% end %>
  </div>

</div>

<div id="badge_title">
  <h2 > Your badges: </h2>
</div>

<div class="show_trips">
  <% @user.trips.each do |trips|%>
    <div class="badge_container">
      <img class="badge" src="http://s3.amazonaws.com/commendablekids.com.prod/badges/55/large.png?1391053115">
      <h3 class='trip_done'><%=trips.destination.city.capitalize%></h3>
    </div>
  <%end%>
</div>
<div id= "jsform"></div>
<div id="background"></div>
