 <!-- Mapbox  -->
<div id="map"></div>

<div id="guides">
  <% if current_user.guide == false %>
    <h1>Become a Guide in ...</h1>
    <%= form_for @guide do |f| %>
      <%= f.hidden_field :guide, value: true %>
      <%= f.text_field :location, placeholder: "your city" %><br>

      <%= f.submit "Sign Me Up!" %>
    <% end %>
  <% else %>
    <h1><%= @guides.count %> <br> Guides Available </h1>
  <% end %>

</div>
